p{
	font-size:160%;
	margin-left: 120px;
	margin-right: 120px;
}
h1{
	font-size: 300%;
	margin-left: 120px;
	margin-right: 120px;
	font-family:verdana;
}
h2{
	margin-left: 120px;
	font-family: 'Montserrat', sans-serif;
	font-size:200%;
}
h4{
	margin-left: 120px;
	font-size:140%;
	font-family:verdana;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:70%;
}
h3{
	font-size:160%;
	font-family:verdana;
}
hr{
	width:70%;
}
img{
	border-radius: 3%;
}
a{
	color:black;
}
.boxed {
  border: 4px solid green ;
}
#holder{
	width: 750px;
	height: auto;
	
}
#holder p{
	border-left:1px solid #333;
	border-right:1px solid #333;
	padding:10px 15px;
	margin:0;
	background:orange;
    
}
#top{
	width:750px;
	height: 50px;
	border:1px solid #333;
	background:#ccc;
}
#top h3{
	margin:0;
	line-height: 50px;
	padding:0px;
}
#bottom{
	width:750px;
	height: 10px;
	border:1px solid #333;
	background:#ccc;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;

  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
table, th, td {
  margin-right: 120px;	
  margin-left: 120px;
  border: 3px solid black;
  border-collapse: collapse;
  background:white;
}
th, td {
  padding: 5px;
  text-align: center;    
}
.footer1{
	width: 100%;
	height: auto;
	margin: auto;
	background-color:#272727;
	padding:20px 0px;
}
.footermenu{
	width:100%;
	height: auto;
	margin:auto;
	margin-top:20px;
}
.footermenu ul{
	margin:0px;
	padding:0px;
	text-align:center;
}
.footermenu ul li{
	display:inline-block;
	margin:0px 15px;
}
.footermenu ul li a{
	font-family: arial;
	font-size:15px;
	font-weight: 600;
	color:#fff;
}
.footerheading{
	width:100%;
	height:auto;
	margin:auto;
	margin-top:20px;
    text-align:center;
    color: white;
}
body, html {
  height: 3%;
  margin: 0;
}

.bg1 {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1592483267822-00e74e7033a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2141&q=80");

  height: 150px; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg2 {
  /* The image used */
  background-image: url("https://i.ibb.co/MDLCHvc/tree.jpg");

  height: 40%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size:1350px 400px;
}
.bg3 {
  /* The image used */
  background-image: url("https://i.ibb.co/RyLm1vk/hut.jpg");

  height: 150px; 
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg3 img{
	-webkit-filter: sepia(100%); /* Safari 6.0 - 9.0 */
    filter: sepia(90%);
}
.bg4 {
  /* The image used */
  background-image: url("https://i.ibb.co/yfZQsLp/cut1.jpg");

  height: 150px; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg5 {
  /* The image used */
  background-image: url("https://i.ibb.co/QfZwNgS/know.jpg");
  height: 150px; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lol{
	width: 100%;
	height: auto;
	margin: auto;
	background-image: url("https://i.ibb.co/PjG0mLB/cut.jpg");
	padding:10px 0px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lol1{
	width: 100%;
	height: auto;
	margin: auto;
	background-image: url("https://i.ibb.co/yfZQsLp/cut1.jpg");
	padding:10px 0px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lolk{
	width: 100%;
	height: auto;
	margin: auto;
	background-image: url("https://images.unsplash.com/photo-1523380360198-653413ad178b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");
	padding:10px 0px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lolf{
	width: 100%;
	height: auto;
	margin: auto;
	background-image: url("https://images.unsplash.com/photo-1584098113770-a5922198255a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
	padding:10px 0px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lolp{
	width: 100%;
	height: auto;
	margin: auto;
	background-image: url("https://images.unsplash.com/photo-1559912963-5f53a1c1c7dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
	padding:10px 0px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
CSS
.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: 200px;
}
.hvrbox img {
	max-width: 300px;
	height: 200px;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 300px;
	height: 200px;
	margin-left: 120px;
}
.hvrbox img {
	max-width: 300px;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 300px;
	height: 200px;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
